{% extends 'base.html' %}
{% load static %}
{% block titleblock %}
    Blog Home
{% endblock %}
{% block bodyblock %}
    {% if object %}
        {% include "breadcrumbs.html" %}
    {% endif %}
    {% if object.child.all %}
        <div>
            <h4>Subcategories</h4>
        </div>
        <div class="row">
            {% for category in object.child.all %}
                {% include "category/components/category_card.html" %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        {% include "components/post_card.html" with posts=object_list %}
    </div>
    <div class="row center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="waves-effect">
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
            {% endif %}

            {% if pages|length > 0 %}
                {% for i in pages %}
                    {% if i == page_obj.number %}
                        <li class="disabled"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>

                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if page_obj.has_next %}
                <li class="waves-effect">
                    <a href="?page={{ page_obj.next_page_number }}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}