{% extends 'base.html' %}

{% block titleblock %}
    Login
{% endblock %}
{% block bodyblock %}
    <div class="card hoverable" style="padding: 20px">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'account:login' %}">
            <div class="col s12">
                <div class="row">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                </div>
                <br>
                <div class="row">
                    <div>
                        <i class="waves-effect waves-light btn blue waves-input-wrapper">
                            <input class="waves-button-input" type="submit" value="login" style="color: white">
                        </i>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>
             <p><a href="{% url 'account:password_reset' %}">FORGOT PASSWORD ?</a></p>
    </div>
{% endblock %}