{% extends 'base.html' %}
{% load static %}

{% block bodyblock %}
    <div>
        <h3 class="header">Favourites</h3>
        
    {% for post in posts %}
        
        <div class="col s12 m6 l4">
            <div class="card hoverable post-card">
                <div class="card-image">
                    {% if post.thumbnail_image %}
                        <img width="300" height="300" src="{{ post.thumbnail_image.url }}" alt="{{ post.title }}">
                    {% else %}
                        <img width="300" height="300" src="{% static 'default.jpg' %}">
                    {% endif %}
                    <span class="card-title">{{ post.blog_title }}
                            </span>
                </div>
                <div class="card-content">
                    <ul>
                        <li class="collection-item">
                            <i class="material-icons tiny">access_time</i>
                            <span class="title">Published: {{ post.created_time }}</span>
                        </li>
                        <li class="collection-item">
                            <i class="material-icons tiny">person</i>
                            <span class="title">Author: {{ post.author_id.username }}</span>
                        </li>
                        {% if post.category.all %}
                            <li class="collection-item">
                                <i class="material-icons tiny">list</i>
                                <span class="title">Category:
                                    {% for category in  post.category.all %}
                                        {{ category }}
                                    {% endfor %}
                            </span>
                            </li>
                        {% endif %}
                    </ul>
                    <br>
                    <p class="truncate">{{ post.blog_content }}</p>
                </div>
                <div class="card-action">
                    
                    <a href="{% url 'blog:post' post.pk %}" style="color: #2196F3;">Read More</a>
                        {% if user.is_authenticated %}
                            <form method = "POST" , action = "{% url 'like:like_post' %}", class = "ui form">
                            {% csrf_token %}
                            <input type = 'hidden' name = 'blog_id' value = "{{post.blog_id}}">
                            {% if not user in post.likes.all %} 
                                <button class = "ui button positive" type = "submit">Like</button>
                            {% else %}
                            <button class = "ui button negative" type = "submit">Unlike</button>
                            {% endif %}
                            </form>
                           
                        {% else %}

                        <form method = "POST" , action = "{% url 'account:login' %}", class = "ui form">
                            {% csrf_token %}
                            <button class = "ui button positive" type = "submit">Like</button>
                            </form>
                        {% endif %}
                    <strong>{{post.like_count}}</strong>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
                