<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-content">
            <ul>
                <li class="collection-item">
                    <span class="title">Category: <b>{{ category.name }}</b></span>
                </li>
            </ul>
            <ul>
                <li class="collection-item">
                    <span class="title">Posts: {{ category.get_post_count }}</span>
                </li>
            </ul>
        </div>
        <div class="card-action">
            <a href="{% url 'category:category' category.id %}" style="color: #2196F3;">Posts in this category</a>
        </div>
    </div>
</div>